.navbar .nav-item {
  font-size: 20px;
  font-family: "Oxanium";
  color: black;
  text-transform: uppercase;
}

#page img:hover {
  -webkit-box-shadow: 5px 5px 4px 8px #e6d4d4;
          box-shadow: 5px 5px 4px 8px #e6d4d4;
  border: 0px;
}

#shop img:hover {
  -webkit-box-shadow: 5px 5px 4px 8px #e6d4d4;
          box-shadow: 5px 5px 4px 8px #e6d4d4;
  border: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#shop h5:hover {
  -webkit-box-shadow: 3px 4px 16px #000;
          box-shadow: 3px 4px 16px #000;
  border: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

#watch .mydiv {
  background: #20a2a7;
  width: 500px;
  height: 120px;
}

#watch .youdiv {
  width: 500px;
  height: 120px;
  background: #08e77f;
}

#last img {
  border-radius: 50%;
}

#last img:hover {
  -webkit-box-shadow: 3px 4px 5px 5px #c9bcbc;
          box-shadow: 3px 4px 5px 5px #c9bcbc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .form-control {
  background: 0%;
}

#footer .fab {
  font-size: 30px;
}

#footer .text {
  color: #FFF2C8;
}

#footer-2 {
  background: black;
}

#page-home img {
  border-radius: 50%;
  margin-top: -50px;
  -webkit-box-shadow: -1px -1px 4px 5px #dbcbcb;
          box-shadow: -1px -1px 4px 5px #dbcbcb;
}

#page-home img:hover {
  border: 2px solid #333;
}

#page-home .card {
  -webkit-box-shadow: 4px 4px 4px 8px #e4d0d0;
          box-shadow: 4px 4px 4px 8px #e4d0d0;
  border: 0;
}

#page-home .btn {
  background: #000;
}

#page-home .btn:hover {
  background: #333;
  -webkit-box-shadow: 3px 4px 4px 3px #666468;
          box-shadow: 3px 4px 4px 3px #666468;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#page-home .card:hover {
  border: 1px solid #1a1010;
  -webkit-box-shadow: 1px 1px 1px 2px #d4a5a5;
          box-shadow: 1px 1px 1px 2px #d4a5a5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#box .fas {
  font-size: 30px;
}

#image img {
  border-radius: 50%;
}

#footer .close:hover {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
  -webkit-transition: 1s;
  transition: 1s;
}

#blog hr {
  -webkit-box-shadow: 2px 3px 5px #333;
          box-shadow: 2px 3px 5px #333;
}

#blog-home .card:hover {
  -webkit-box-shadow: 3px 5px 4px 7px #bb9c9c;
          box-shadow: 3px 5px 4px 7px #bb9c9c;
}

#shadow h2 {
  color: blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#shadow img {
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 10px yellow;
  box-shadow: inset 0 0 10px yellow;
}

.card {
  -box-shadow: inset 0 0 10px #333;
  -webkit-box-shadow: inset 0 0 10px #e61b1b;
          box-shadow: inset 0 0 10px #e61b1b;
  -webkit-box-shadow: inset 0 0 10px #333;
          box-shadow: inset 0 0 10px #333;
}

.btn {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#5d00f3));
  background-image: linear-gradient(to top, #ff0000, #5d00f3);
}
